{{ define "changepassword" }}

<!DOCTYPE html>
<html lang="en">
{{ template "header" }}

<body>

  {{ template "navbar" }}

  <form id="password" action="/u/resetpassword" method="post">
    <h1>Password Change</h1>

    <h2>Please change your password now.</h2>
    <h6>
      <div id="message">{{.Error}}</div>
    </h6>

    <input placeholder="Password" type="password" name="password" required="required" />
    <input placeholder="Password" type="password" name="password2" required="required" />
    <input type="hidden" name="token" value="{{.Token}}">
    <button class="btn">Update</button>

    <h2>
      <a href="/">Login</a>
    </h2>

  </form>


  {{ template "footer" }}
</body>


</html>
{{ end }}