{{ define "home" }}

<!DOCTYPE html>
<html lang="en">
{{ template "header" }}



<body>

  {{ template "navbar" }}

  <form action="/u/signin" method="post">
    <h1>
      <span>Rath</span> Vong</h1>

    <h6>
      <div id="message">{{.Error}}</div>
    </h6>
    <input placeholder="Email" type="email" name="email" />
    <input placeholder="Password" type="password" name="password" />

    <button class="btn">Log in</button>

    <h6>Oh, social?</h6>

    <div class="social">

      <button class="google fb btn" formaction="/auth/google/login">
        <a href="/auth/google/login">Google+</a>
      </button>

    </div>
    <div class="">
      <h2>
        <a href="/forgot/">Forgot Password?</a>
      </h2>
      <h2>
        <a href="/signup/">Create a new account!</a>
      </h2>
    </div>


  </form>


  {{ template "footer" }}
</body>

</html>
{{ end }}