{{ define "onboarding" }}

<!DOCTYPE html>
<html lang="en">
{{ template "header" }}

<body>

  {{ template "navbar" }}


  <form action="/onboarding" method="post">
    <h1>Fill Profile Information Page</h1>
    <h2>Please fill in the correct information to continue</h2>
    <h6>
      <div id="message">{{.Error}}</div>
    </h6>


    <input placeholder="First Name" type="text" name="first_name" value="{{.User.FirstName}}" required="required"/>
    <input placeholder="Last Name" type="text" name="last_name" value="{{.User.LastName}}" required="required" />
    <input id="autocomplete" placeholder="Address" type="text" name="address" value="{{.User.Address}}" required="required" />
    <input placeholder="Email" type="email" name="email" value="{{.User.Email}}" required="required"/>
    <input placeholder="Telephone" type="tel" name="telephone" value="{{.User.Telephone}}" required="required"/>
    <input type="hidden" name="page" value="onboarding" />

    <button class="btn">Continue</button>


  </form>

  {{ template "footer" }}
</body>



<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
  </script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCu2n5U_VxF5mTcHKMSPo9dXxqcpDtnhUc&libraries=places"></script>

<script>
  google.maps.event.addDomListener(window, 'load', initialize);
  function initialize() {
    var input = document.getElementById('autocomplete');
    var autocomplete = new google.maps.places.Autocomplete(input, { types: ['geocode'] });
    autocomplete.addListener('place_changed', function () {
      var place = autocomplete.getPlace();
      console.log(place);
      console.log(place.geometry['location'].lat());
      console.log(place.geometry['location'].lng());
    });

  }

</script>

</html>
{{ end }}