{{ define "recovery" }}

<!DOCTYPE html>
<html lang="en">
{{ template "header" }}

<body>

  {{ template "navbar" }}

  <form action="/forgot" method="post">
    <h1>Password Recovery</h1>
    <h2>Please enter your email and we will send you confirmation.</h2>
    <h6>
      <div id="message">{{.Error}}</div>
    </h6>
    <input placeholder="Email" type="email" name="email" required="required" />

    <button class="btn">Recover</button>
    <h6>Oh, social?</h6>

    <div class="social">

      <button class="google fb btn" formaction="/auth/google/login">
        <a href="/auth/google/login">Google+</a>
      </button>

    </div>

    <div class="">
      <h2>
        <a href="/">Login</a>
      </h2>
      <h2>
        <a href="/signup/">Create a new account!</a>
      </h2>
    </div>


  </form>


  {{ template "footer" }}
</body>



</html>
{{ end }}