{{ define "policy" }}

<!DOCTYPE html>
<html lang="en">
{{ template "header" }}



<body>

        <h1>Welcome to our Privacy Policy</h1>
        <h3>Your privacy is critically important to us.</h3>
        Rathvong is located at:<br/>
        <address>
          Rathvong<br/> <br/>6138837757			</address>

        <p>It is Rathvong’s policy to respect your privacy regarding any information we may collect while operating our website. This Privacy Policy applies to <a href="https://rathvong.herokuapp.com">https://rathvong.herokuapp.com</a> (hereinafter, "us", "we", or "https://rathvong.herokuapp.com"). We respect your privacy and are committed to protecting personally identifiable information you may provide us through the Website. We have adopted this privacy policy ("Privacy Policy") to explain what information may be collected on our Website, how we use this information, and under what circumstances we may disclose the information to third parties. This Privacy Policy applies only to information we collect through the Website and does not apply to our collection of information from other sources.</p>
        <p>This Privacy Policy, together with the Terms and conditions posted on our Website, set forth the general rules and policies governing your use of our Website. Depending on your activities when visiting our Website, you may be required to agree to additional terms and conditions.</p>

                    <h2>Website Visitors</h2>
        <p>Like most website operators, Rathvong collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. Rathvong’s purpose in collecting non-personally identifying information is to better understand how Rathvong’s visitors use its website. From time to time, Rathvong may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.</p>
        <p>Rathvong also collects potentially personally-identifying information like Internet Protocol (IP) addresses for logged in users and for users leaving comments on https://rathvong.herokuapp.com blog posts. Rathvong only discloses logged in user and commenter IP addresses under the same circumstances that it uses and discloses personally-identifying information as described below.</p>
        
                    <h2>Gathering of Personally-Identifying Information</h2>
        <p>Certain visitors to Rathvong’s websites choose to interact with Rathvong in ways that require Rathvong to gather personally-identifying information. The amount and type of information that Rathvong gathers depends on the nature of the interaction. For example, we ask visitors who sign up for a blog at https://rathvong.herokuapp.com to provide a username and email address.</p>
        
                    <h2>Security</h2>
        <p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>
        
        

        
        
        
                    <h2>Aggregated Statistics</h2>
        <p>Rathvong may collect statistics about the behavior of visitors to its website. Rathvong may display this information publicly or provide it to others. However, Rathvong does not disclose your personally-identifying information.</p>
        
        
                    <h2>Cookies</h2>
        <p>To enrich and perfect your online experience, Rathvong uses "Cookies", similar technologies and services provided by others to display personalized content, appropriate advertising and store your preferences on your computer.</p>
        <p>A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides to the website each time the visitor returns. Rathvong uses cookies to help Rathvong identify and track visitors, their usage of https://rathvong.herokuapp.com, and their website access preferences. Rathvong visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using Rathvong’s websites, with the drawback that certain features of Rathvong’s websites may not function properly without the aid of cookies.</p>
        <p>By continuing to navigate our website without changing your cookie settings, you hereby acknowledge and agree to Rathvong's use of cookies.</p>
        
        
        
                    <h2>Privacy Policy Changes</h2>
        <p>Although most changes are likely to be minor, Rathvong may change its Privacy Policy from time to time, and in Rathvong’s sole discretion. Rathvong encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.</p>
        
        
                      
          <h2></h2>			  
              <p></p>			
        
        <h2>Credit & Contact Information</h2>
                        <p>This privacy policy was created at <a style="color:inherit;text-decoration:none;" href="https://termsandconditionstemplate.com/privacy-policy-generator/" title="Privacy policy template generator" target="_blank">termsandconditionstemplate.com</a>. If you have any questions about this Privacy Policy, please contact us via <a href="mailto:">email</a> or <a href="tel:6138837757">phone</a>.</p>
                

  {{ template "footer" }}
</body>

</html>
{{ end }}




