{{ define "profile" }}

<!DOCTYPE html>
<html lang="en">
{{ template "header" }}

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"></a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          {{ if .User}}
          <li>
            <button class="btn"><a href="#" onclick="editFormHandler()" id="edit">Edit</a></button>
          </li>
          <li>
            <a href="/u/logout">Log Out</a>
          </li>
          {{ end }}
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>




  <form action="/onboarding" method="post">
    <h1>Profile</h1>

    <h6>
      <div id="message">{{.Error}}</div>
    </h6>


    <input id="first_name" placeholder="First Name" type="text" name="first_name" value="{{.User.FirstName}}" disabled />
    <input id="last_name" placeholder="Last Name" type="text" name="last_name" value="{{.User.LastName}}" disabled/>
    <input id="autocomplete" onFocus="geolocate()" placeholder="Address" type="text" name="address" value="{{.User.Address}}" disabled />
    <input id="email" placeholder="Email" type="email" name="email" value="{{.User.Email}}" disabled required="required"/>
    <input id="password" placeholder="Password" type="password" name="password" disabled />
    <input id="telephone" placeholder="Telephone" type="tel" name="telephone" value="{{.User.Telephone}}" disabled/>
    <input type="hidden" name="page" value="profile" disabled/>
    <button id="save" class="btn"  style="display:none;">Save</button>


  </form>


  {{ template "footer" }}
</body>

<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
 </script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCu2n5U_VxF5mTcHKMSPo9dXxqcpDtnhUc&libraries=places"></script>

<script>
  // your handler
  function editFormHandler() {

    var x = document.getElementById("save");
    if (x.style.display === "none") {
      x.style.display = "block";

      document.getElementById("first_name").disabled = false;
      document.getElementById("last_name").disabled = false;
      document.getElementById("autocomplete").disabled = false;
      document.getElementById("email").disabled = false;
      document.getElementById("password").disabled = false;
      document.getElementById("telephone").disabled = false;

    } else {
      x.style.display = "none";
      document.getElementById("first_name").disabled = true;
      document.getElementById("last_name").disabled = true;
      document.getElementById("autocomplete").disabled = true;
      document.getElementById("email").disabled = true;
      document.getElementById("password").disabled = true;
      document.getElementById("telephone").disabled = true;

    }

    return false;
  }
</script>

<script>
  google.maps.event.addDomListener(window, 'load', initialize);
  function initialize() {
    var input = document.getElementById('autocomplete');
    var autocomplete = new google.maps.places.Autocomplete(input, { types: ['geocode'] });
    autocomplete.addListener('place_changed', function () {
      var place = autocomplete.getPlace();
      console.log(place);
      console.log(place.geometry['location'].lat());
      console.log(place.geometry['location'].lng());
    });

  }

</script>

</html>
{{ end }}