{{ define "signup" }}

<!DOCTYPE html>
<html lang="en">
{{ template "header" }}

<body>

  {{ template "navbar" }}

  <form id="login" action="/signup" method="post">
    <h1>Sign Up</h1>
    <h6>
      <div id="message">{{.Error}}</div>
    </h6>
    <input placeholder="Email" type="email" name="email" required="required" />
    <input placeholder="Password" type="password" name="password" required="required" />
    <input placeholder="Password" type="password" name="password2" required="required" />

    <button class="btn">Create</button>

    <h6>Oh, social?</h6>

    <div class="social">

      <button class="google fb btn" formaction="/auth/google/login">
        <a href="/auth/google/login">Google+</a>
      </button>

    </div>
    <div class="">
      <h2>
        <a href="/">Login</a>
      </h2>
      <h2>
        <a href="/forgot/">Forgot Password?</a>
      </h2>
    </div>


  </form>


  {{ template "footer" }}
</body>


</html>
{{ end }}