{{ define "header" }}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <meta http-equiv=“Pragma” content=”no-cache”>
  <meta http-equiv="expires" content="0">
  <meta http-equiv="cache-control" content="no-store, no-cache, must-revalidate">

  <title>Rath Vong</title>

  <!-- Bootstrap core CSS -->
  <link href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="https://getbootstrap.com/docs/3.3/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="https://getbootstrap.com/docs/3.3/examples/starter-template/starter-template.css" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="https://getbootstrap.com/docs/3.3/assets/js/ie-emulation-modes-warning.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    
  <![endif]-->

  <style type="text/css">
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    nav,
    section {
      display: block;
    }

    html {
      font-size: 100%;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    }

    input:focus,
    textarea:focus {
      outline: none;
    }

    label,
    select,
    button,
    input[type="submit"],
    input[type="radio"],
    input[type="checkbox"] input[type="button"] {
      cursor: pointer;
    }

    a,
    a:visited,
    a:active {
      text-decoration: none;
    }

    a:hover {
      text-decoration: none;
    }

    ::selection {
      background: #ed327b;
      color: #fff;
    }

    ::-moz-selection {
      background: #ed327b;
      color: #fff;
    }

    * {
      font-size: 100%;
      margin: 0;
      padding: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    body {
      background: #63b47a;
    }

    * {
      font-family: "Helvetica Neue", Helvetica, Arial;
    }

    h5 {
      text-align: center;
      margin-top: 5px;
      color: rgba(0, 0, 0, .3);
    }

    h5>a,
    a:visited {
      color: #fff;
      text-decoration: underline;
    }

    h5>a:hover {
      text-decoration: none;
    }

    form {
      background: #fff;
      border-radius: 6px;
      padding: 20px;
      padding-top: 30px;
      width: 300px;
      margin: 50px auto;
      box-shadow: 15px 15px 0px rgba(0, 0, 0, .1);
    }

    h1 {
      text-align: center;
      font-size: 1.4em;
      font-weight: 700;
      color: #ccc;
      margin-bottom: 24px;
    }

    h2 {
      text-align: center;
      font-size: 1em;
      padding-top: 16px;
      color: #777;
      cursor: pointer;
    }

    h2>a,
    a:visited {
      color: #ccc;
      text-decoration: none;
    }

    h2>a:hover {
      text-decoration: none;
    }

    span {
      font-weight: 200;
    }

    input {
      width: 100%;
      background: #f5f5f5;
      border: 0;
      padding: 20px;
      border-radius: 6px;
      margin-bottom: 10px;
      border: 1px solid #eee;
    }

    .btn {
      position: relative;
      width: 100%;
      padding: 20px;
      border-radius: 6px;
      border: 0;
      background: #f26964;
      font-size: 1.2em;
      color: #fff;
      text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
      box-shadow: 0px 3px 0px #c1524e;
    }

    .btn:active {
      top: 3px;
      box-shadow: none;
    }

    h6 {
      text-align: center;
      padding: 20px;
      padding-top: 35px;
      color: #777;
      cursor: pointer;
    }


    .fb {
      margin-top: 15px;
      background: #3b5998;
      box-shadow: 0px 3px 0px #2c416e;
    }

    .tw {
      background: #00acee;
      box-shadow: 0px 3px 0px #008dc3;
    }

    .google {
      background: #db4a39;
      box-shadow: 0px 3px 0px #b93f31;
    }
  </style>



</head>
{{ end }}